<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <a href="/" style="position: absolute; top: 0; right: 0;">Home</a>
    <h1>All Users</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Full name</th>
            <th>Email</th>
            <th>Created at</th>
            <th>Actions</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.first_name}} {{user.last_name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.created_at}}</td>
            <td><button><a href="/user/{{user.id}}">show</a></button></td>
            <td><button><a href="/user/{{user.id}}/edit">edit</a></button></td>

        </tr>
        {% endfor %}
    </table>
    <button><a href="/user/new">Add a new user</a></button>
</body>

</html>