h1{
text-align: left;
background-color: black;
color : white;
font-family: cursive ;
padding-left: 20px;
padding-top: 10px;
padding-bottom: 10px;
}

h2{
text-align: center;
background-color: rebeccapurple;
color: white;
font-family: cursive ;
font-style: italic;
padding-top: 10px;
padding-bottom: 10px;
}

h3{
text-align: right;
background-color: cadetblue;
color:darkslateblue;
font-family: cursive ;
text-decoration: underline;
padding-right: 20px;
padding-top: 10px;
padding-bottom: 10px;
}

span{
color: aqua;
}