<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=*, initial-scale=1.0">
    <title>Number Game</title>
</head>
<body>
    <h1>Welcome to the Great Number Game</h1>
    <h2>I am thinking of a number between 1 and 100</h2>
    <h2>Take a guess!</h2>
    <h2>{{response}}</h2>
    <form action="/" method="POST">
        <input type="text" name="integer" value="">
        <button name="" value="" >Submit!</button>
    </form>
</body>
</html>